<html>
    <head>
      <title>CodeClan Library</title>
    </head>
    <body>
        <ul>
          <li><a href="/books">Home</a></li>
        </ul>
        <hr>
        {% block content %}{% endblock %}

        <h1>All Books</h1>
        <div class="book-container">
        {% for book in book_list %}
            <div class="book">
              <h2>{{ book.title }}</h2>
              <h3>{{ book.author }}</h3>
              <h4>{{ book.genre }}</h4>
              <a href="/books//{{book_list.index(book)}}">Show Book</a>
            </div>
        {% endfor %}
        
    </body>
</html>