{% extends "base.html" %}

{% block content %}
    <div class="book-container">

        <div class="book">
            <div class="book-items">
                <h1>{{ book.title }}</h1>
                <hr>
                <h3>{{ book.author }}</h3>
                <h4>{{ book.genre }}</h4>
                {% if book.checked_out %}
                <p>Available: <span> &#9989;</span></p>
                {% else %}
                <p>Available: <span> &#10060;</span></p>
                {% endif %}
                <hr>
            </div>
            <p class="description">{{ book.description }}</p>      
        </div>
    </div>

{% endblock %}
