{% extends "base.html" %}

{% block content %}

<h1 class="all-books">All Books</h1>
<div class="book-container">
{% for book in book_list %}
    <div class="book">
      <a href="/books/{{book_list.index(book)}}">{{ book.title }}</a>
      <hr class="bookline">
      <h3>{{ book.author }}</h3>
      <h4>{{ book.genre }}</h4>
      <div class="available">
            {% if book.checked_out %}
            <p>Available: <span> &#9989;</span></p>
            {% else %}
            <p>Available: <span> &#10060;</span></p>
            {% endif %}
      </div>
      <hr>
      <form action="/books/delete/{{book_list.index(book)}}" method="post">
        <input type="submit" value="Delete Book">
      </form>
    </div>
{% endfor %}

{% endblock  %}

