{% extends "base.html" %}

{% block content %}

<h1>All Books</h1>
<div class="book-container">
{% for book in book_list %}
    <div class="book">
      <h2>{{ book.title }}</h2>
      <hr class="bookline">
      <h3>{{ book.author }}</h3>
      <h4>{{ book.genre }}</h4>
      <a href="/books/{{book_list.index(book)}}">Show Book</a>
      <form action="/books/delete/{{book_list.index(book)}}" method="post">
        <input type="submit" value="Delete Book">
      </form>
    </div>
{% endfor %}

{% endblock  %}

