{% extends "base.html" %}
{% block content %}


{% for book in all_books %}
  <div class="book">
    <div class="content">
      <h2>{{book.title}}</h2>
      <h3>{{ book.author.first_name + book.author.last_name }}</h3>
      <div class="description">
        <p>{{book.description}}</p>
      </div>
    </div>
    <div class="buttons">

      <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
        <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
{% endfor %}

{% endblock %}
