<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gummy Bear orders</title>
</head>
<body>
    <h1>Gummy Bear store</h1>
        <ul>
    {% for order in order_list %}
        <li><a href="/orders/{{ order_list.index(order) }}">Order #{{ order_list.index(order) }}</a>
            <ul>
                <li>{{ order.order_date }}</li>
                <li>{{ order.quantity }}</li>
                <li>{{ order.gummy_flavour }}</li>
            </ul>
        </li>
    {% endfor %}
        </ul>
</body>
</html>
